@media screen and (max-width: 1000px) {
    .navbarLinks {
        font-size: 1.2em;
    }

    .questions {
        font-size: 1.2em;
    }

    .headings {
        font-size: 1em;
    }

    video { width: 324px;
    }
    
    video { height: 180px;
    }
    
    .trapsImage {
        width: 120px;
        height: 120px;
    }
      
    .deltsImage {
        width: 120px;
        height: 82px;
    }

    .deltsImage2 {
        width: 120px;
        height: 115px;
    }

    .latsImage {
        width: 120px;
        height: 120px;
    }

    .bicepsImage {
        width: 120px;
        height: 120px;
    }

    .tricepsImage {
        width: 120px;
        height: 83px;
    }

    .pecsImage {
        width: 120px;
        height: 66px;
    }

    .absImage {
        width: 120px;
        height: 67px;
    }

    .obliquesImage {
        width: 120px;
        height: 67px;
    }

    .serratusImage {
        width: 120px;
        height: 67px;
    }

    .forearmsImage {
        width: 120px;
        height: 67px;
    }

    .glutesImage {
        width: 120px;
        height: 84px;
    }

    .glutesImage2 {
        width: 120px;
        height: 107px;
    }

    .hamstringsImage {
        width: 120px;
        height: 100px;
    }

    .adductorsImage {
        width: 120px;
        height: 69px;
    }

    .abductorsImage {
        width: 120px;
        height: 171px;
    }

    .abductorsImage2 {
        width: 120px;
        height: 133px;
    }

    .quadsImage {
        width: 120px;
        height: 94px;
    }

    .calvesImage {
        width: 120px;
        height: 133px;
    }

    .cardioImage {
        width: 120px;
        height: 104px;
    }

    .explanation {
        font-size: 1em;
    }
}

@media screen and (max-width: 780px) {

    .explanation {
        font-size: .8em;
    }

    h1 {
        font-size: 4em;
    }

    h3 {
        font-size: 1em;
    }

    video { width: 180px;
    }
    
    video { height: 100px;
    }

    .footer {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 780px) {
    h1 {
        font-size: 3em;
    }

    .questions {
        font-size: .8em;
    }

    h3 {
        font-size: .8em;
    }

    video { width: 144px;
    }
    
    video { height: 80px;
    }

    .trapsImage {
        width: 90px;
        height: 90px;
    }
      
    .trapsImage:hover {
        transform: scale(1.8);
    }

    .deltsImage {
        width: 90px;
        height: 62px;
    }

    .deltsImage:hover {
        transform: scale(1.8);
    }

    .deltsImage2 {
        width: 86px;
        height: 90px;
    }

    .deltsImage2:hover {
        transform: scale(1.8);
    }

    .latsImage {
        width: 86px;
        height: 86px;
    }

    .latsImage:hover {
        transform: scale(1.8);
    }

    .bicepsImage {
        width: 86px;
        height: 86px;
    }

    .bicepsImage:hover {
        transform: scale(1.8);
    }

    .tricepsImage {
        width: 86px;
        height: 59px;
    }

    .tricepsImage:hover {
        transform: scale(1.7);
    }

    .pecsImage {
        width: 95px;
        height: 53px;
        transition: transform .2s;
    }

    .pecsImage:hover {
        transform: scale(1.8);
    }

    .absImage {
        width: 94px;
        height: 48px;
    }

    .absImage:hover {
        transform: scale(1.8);
    }

    .obliquesImage {
        width: 94px;
        height: 53px;
    }

    .obliquesImage:hover {
        transform: scale(1.8);
    }

    .serratusImage {
        width: 94px;
        height: 53px;
    }

    .serratusImage:hover {
        transform: scale(1.8);
    }

    .forearmsImage {
        width: 100px;
        height: 62px;
    }

    .forearmsImage:hover {
        transform: scale(1.8);
    }

    .glutesImage {
        width: 100px;
        height: 75px;
    }

    .glutesImage:hover {
        transform: scale(1.8);
    }

    .glutesImage2 {
        width: 100px;
        height: 90px;
    }

    .glutesImage2:hover {
        transform: scale(1.8);
    }

    .hamstringsImage {
        width: 100px;
        height: 84px;
    }

    .hamstringsImage:hover {
        transform: scale(1.8);
    }

    .adductorsImage {
        width: 104px;
        height: 61px;
    }

    .adductorsImage:hover {
        transform: scale(1.8);
    }

    .abductorsImage {
        width: 89px;
        height: 127px;
    }

    .abductorsImage:hover {
        transform: scale(1.8);
    }

    .abductorsImage2 {
        width: 89px;
        height: 100px;
    }

    .abductorsImage2:hover {
        transform: scale(1.8);
    }

    .quadsImage {
        width: 96px;
        height: 75px;
    }

    .quadsImage:hover {
        transform: scale(1.8);
    }

    .calvesImage {
        width: 96px;
        height: 108px;
    }

    .calvesImage:hover {
        transform: scale(1.8);
    }

    .cardioImage {
        width: 104px;
        height: 91px;
    }

    .cardioImage:hover {
        transform: scale(1.8);
    }

    .nameOfExercise {
        font-size: .8em;
    }

    .explanation {
        font-size: .6em;
    }

    ul.navbar {
        padding-left: 6%;
        padding-right: 6%;
    }

    .navbarLinks {
        font-size: 1em;
    }

    .asterisk {
        font-size: .7em;
    }

    .headings {
        font-size: .8em;
    }
}

@media screen and (max-width: 556px) {
    h4 {
        font-size: .6em;
    }

    details {
        padding-bottom: 20%;
    }

    h1 {
        margin-bottom: 9%;
    }

    h3 {
        padding-bottom: 9%;
        padding-left: 3%;
        padding-right: 3%;
    }

    div.homePage {
        padding-top: 9%;
    }

    .navbarLinks {
        font-size: .8em;
    }
    
    .headings {
        font-size: .5em;
    }

    .trapsImage {
        width: 100px;
        height: 100px;
    }

    video { 
        width: 135px;
    }
    
    video { 
        height: 76px;
    }

    .hamstringVideos {
        height: 72px;
    }

    .hamstringVideos {
        width: 130px;
    }

    .abductorVideos {
        width: 140px;
    }

    .abductorVideos {
        height: 78px;
    }

    th {
        border: 5px solid rgb(39, 40, 41);
        padding: 2px;
    }

    td {
        padding: 1px;
        border: 3px solid rgb(192, 12, 12);
    }

    p {
        font-size: .6em;
    }

    ul.navbar {
        padding-left: 3%;
        padding-right: 3%;
    }

    .explanation {
        font-size: .5em;
    }

    .nameOfExercise {
        font-size: .6em;
    }

    .deltsImage {
        width: 95px;
        height: 65px;
    }

    .deltsImage2 {
        width: 95px;
        height: 90px;
        object-position: 10% 0%;
    }

    .middleRow {
        padding-top: 0%;
        padding-bottom: 0%;
    }

    .latsImage {
        width: 89px;
        height: 89px;
    }

    .bicepsImage {
        width: 77px;
        height: 77px;
    }

    .tricepsImage {
        width: 99px;
        height: 72px;
    }
}

@media screen and (max-width: 384px) {
    .middleRow {
        padding-top: 1.2%;
        padding-bottom: 0%;
    }
}    

@media screen and (max-width: 375px) {
    table {
        margin-left: auto;
        margin-right:auto;
    }

    tr.headings {
        margin-left: 0%;
        margin-right: 0%;
    }

    tr {
        margin-left: 0%;
        margin-right: 0%;
    }

    td.explanation {
        width: 55px;
    }

    .adductorsImage {
        width: 101px;
        height: 59px;
    }

    .cardioImage {
        width: 101px;
        height: 89px;
    }

    .bicepsImage {
        width: 74px;
        height: 74px;
    }

    .latsImage {
        width: 87px;
        height: 87px;
    }

    .trapsImage:hover {
        transform: none;
    }

    .deltsImage:hover {
        transform: none;
    }

    .deltsImage2:hover {
        transform: none;
    }

    .latsImage:hover {
        transform: none;
    }

    .bicepsImage:hover {
        transform: none;
    }

    .tricepsImage:hover {
        transform: none;
    }

    .pecsImage:hover {
        transform: none;
    }

    .absImage:hover {
        transform: none;
    }

    .obliquesImage:hover {
        transform: none;
    }

    .serratusImage:hover {
        transform: none;
    }

    .forearmsImage:hover {
        transform: none;
    }

    .glutesImage:hover {
        transform: none;
    }

    .glutesImage2:hover {
        transform: none;
    }

    .hamstringsImage:hover {
        transform: none;
    }

    .adductorsImage:hover {
        transform: none;
    }

    .abductorsImage:hover {
        transform: none;
    }

    .abductorsImage2:hover {
        transform: none;
    }

    .quadsImage:hover {
        transform: none;
    }

    .calvesImage:hover {
        transform: none;
    }

    .cardioImage:hover {
        transform: none;
    }
}